---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% include base_path %}

<ul class="talks-list">
{% for post in site.talks reversed %}
  <li class="talk-entry">
    <div class="talk-title">{{ post.title }}</div>
    <div class="talk-meta">{{ post.venue }}, {{ post.date | date: "%Y" }}</div>
  </li>
{% endfor %}
</ul>

<style>
.talks-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.talk-entry {
  padding: 0.75rem 0;
  line-height: 1.6;
}
.talk-title {
  font-weight: bold;
}
.talk-meta {
  opacity: 0.6;
  font-size: 0.95rem;
}
</style>
